<% layout('layouts/boilerplate') %> 
<h1>
    <%= farm.name %>
</h1>
<a class="btn btn-info text-white" href="/farms/<%= farm._id %>/products/new">Add Product</a>
<% if (farm.products && farm.products.length) { %> 
    <h3>Products</h3>
    <ul>
        <% for (let product of farm.products) { %> 
            <li><a href="/products/<%= product._id %>"><%= product.name %></a> - <%= product.price %>&yen;</li>
        <% } %> 
    </ul>
<% } %> 
<div>City: <%= farm.city %></div>
<div class="my-2">Email: <%= farm.email %></div>
<a class="btn btn-warning text-white" href="/farms/<%= farm._id %>/edit">Edit Farm</a>
<form class="d-inline" action="/farms/<%= farm._id %>?_method=DELETE" method="POST">
    <button class="btn btn-danger" type="submit">Delete</button>
</form>
<div class="mt-3">
    <a href="/farms">Back</a>
</div>